In [5]:
import pandas as pd
a=pd.read_csv('gdp_per_cap.csv')

In [6]:
print(a)

     country  gdp  bonus
0      India   50     10
1    America   76     20
2  Australia   50     30
3      china   40     20
4     bhutan   80     10

In [7]:
a

     country  gdp  bonus
0      India   50     10
1    America   76     20
2  Australia   50     30
3      china   40     20
4     bhutan   80     10

In [8]:
b=pd.read_csv('life_satis.csv')
b

     country  ls
0      India  35
1    America  58
2  Australia  55
3      china  40
4     bhutan  50

In [10]:
import sklearn.linear_model
model=sklearn.linear_model.LinearRegression()

model.fit(a[["gdp","bonus"]],b["ls"])

LinearRegression()

In [11]:
model.predict([[50,30]])

array([55.])