In [1]:
import pandas as pd

In [25]:
x=pd.read_csv("a.csv",thousands="-")
x

      name  rollno
0  vignesh   40000
1   Anusha       5

In [26]:
x["name"]

0    vignesh
1     Anusha
Name: name, dtype: object

In [27]:
import numpy as np

In [28]:
np.c_[x["name"]]

array([['vignesh'],
       ['Anusha']], dtype=object)

In [29]:
y=[1,2,3,4]

In [30]:
y

[1, 2, 3, 4]

In [31]:
np.c_[y]

array([[1],
       [2],
       [3],
       [4]])